<a href="https://colab.research.google.com/github/salvananez/Data-Science/blob/main/Copy_of_Subconsultas%20(no%20terminado).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Joins y subconsultas

## PreparaciÃ³n de los datos

Para esta clase vamos a utilizar la base de datos que creamos la clase pasada, sin embargo, ahora cargaremos 3 datasets a 3 tablas diferentes:
- netflix_titles [| descargar |](https://drive.google.com/file/d/1W4sczeFJxmlo_UeW8VqiqJhkRHHtQbZX/view?usp=sharing): contiene registros de 100 tÃ­tulos reales de Netflix con datos descriptivos de cada uno.
- netflix_activity [| descargar |](https://drive.google.com/file/d/1TUgD6Wfaa5vA2T2XzqITMjt7a3G_kLaf/view?usp=sharing): un registro de la actividad de usuarios en Netflix. Cada fila representa un solo tÃ­tulo visto por un usuario determinado en una fecha determinada.
- netflix_users [| descargar |](https://drive.google.com/file/d/1apav2JAuxRaTQ90I8CI9cYpuTxC6wUt1/view?usp=sharing): Este dataset contiene los nombres de los usuarios asÃ­ como el user_id correspondiente a cada uno.

**NOTA:** *Si realizaste el challenge de la clase pasada, Â¡ya tienes la tabla netflix_titles! Repite los pasos que aprendiste para crear las dos tablas faltantes y pasa directo a "Tipos de JOIN".*

Sigue estos pasos para crear una nueva base de datos e importar un CSV en una tabla nueva.

1. ConÃ©ctate a MySQL Server: abre MySQL Workbench y haz clic en la conexiÃ³n a tu servidor local. Ingresa tu usuario y contraseÃ±a.

Â¿AÃºn no tienes hecha tu conexiÃ³n? Averigua cÃ³mo hacerla [aquÃ­](https://dev.mysql.com/doc/workbench/en/wb-mysql-connections-new.html)

2. Una vez conectado, acceda al menÃº de schemas del lado izquierdo:

![schema0](https://drive.google.com/uc?export=view&id=1U0f_wShC6QU4c2WDNE7Vt0Hv2cR4xNvY)

3. Una vez en la secciÃ³n de Schemas, has clic en un espacio en blanco y selecciona 'Create Schema...'

![schema11](https://drive.google.com/uc?export=view&id=1FSuEnZ6SVq_jwEomds1xu13uqpdh2esE)

4. Del lado derecho verÃ¡s algo como lo siguiente. AllÃ­, deberÃ¡s ingresar el nombre 'master' como el nombre de tu Schema.
![schema2](https://drive.google.com/uc?export=view&id=1xIF_pHC-W1miKwNt5ghT0IjKjRjvn9Lo)

5. Sigue los pasos de la ventana que aparecerÃ¡ hasta que veas la siguiente pantalla:
![schema31](https://drive.google.com/uc?export=view&id=1cUliC80ZhXONdfyB3hjSNGD9sOMXEJ2P)

6. VerÃ¡s un nuevo Ã­cono en Schemas con el nombre de tu schema, haz clic derecho sobre Ã©l y selecciona "Table Data Import Wizard"
![schema32](https://drive.google.com/uc?export=view&id=1WEPKNEM2bLSfJPVJ_46Mwanr3ofwZXAa)

7. Haz clic en "Browse" y selecciona el archivo "netflix_titles" que has descargado previamente.
![schema4](https://drive.google.com/uc?export=view&id=1X1ph4L-nGlgCSdLp8bBJ2NJAO1q8uCip)

8. En esta pantalla solo haz clic en "Next"
![schema5](https://drive.google.com/uc?export=view&id=1udbztvBZEkgm53j1MHGk1wif_KOMKfMP)

9. En esta pantalla, verifica que la pequeÃ±a muestra de la tabla se muestre correctamente y haz clic en "Next"
![schema6](https://drive.google.com/uc?export=view&id=1SzctA8uFEa4rG3gYdEJpxaCkNnJT-gCO)

10. Finalmente, clic en "Next" a esta pantalla y espera a que se importen los datos. Al terminar haz clic en "Finish".
![schema7](https://drive.google.com/uc?export=view&id=1rn_zBpQ5ILq13nCpe189JVvFdKbCnb4o)

11. Ahora, en el editor de scripts del lado derecho, escribe:

```
use master;
show tables;
```

DeberÃ­as ver el siguiente resultado:

![schema8](https://drive.google.com/uc?export=view&id=1vmdH5OCVs-wcT-uueqL8zsZW8rcQKrFj)

12. Repite los pasos 6 al 11 para insertar los dos datasets faltantes: netflix_activity y netflix_users

## Tipos de JOIN

Antes que nada, puedes echar un vistazo a tus tres tablas para ver quÃ© contienen y su estructura:


```
USE master;

SELECT * FROM netflix_titles;
SELECT * FROM netflix_activity;
SELECT * FROM netflix_users;
```

Recuerda, hay diferentes tipos de JOIN en SQL:

- **(INNER) JOIN:** Devuelve registros que tienen valores coincidentes en ambas tablas.
- **LEFT (OUTER) JOIN:** Retorna todos los registros de la tabla "de la izquierda", y solo aquellas filas que coincidieron de la tabla "de la derecha". Las demÃ¡s filas que no coincidieron, son descartadas.
- **RIGHT (OUTER) JOIN:** Es lo mismo que un LEFT (OUTER) JOIN pero en la direcciÃ³n opuesta, evitando que se pierdan registros de la tabla de la derecha.
- **FULL (OUTER) JOIN (CROSS JOIN en MySQL):** Devuelve todos los registros de ambas tablas.

![MySQL JOINs](https://drive.google.com/uc?export=view&id=1R6biBfWIpTEflCGxobHJzbeNMxcYe-24)

## (INNER) JOIN

**Problema:** la tabla netflix_activity contiene la actividad de los usuarios viendo programas. Necesitamos saber, en primer lugar, cuÃ¡les fueron los shows vistos por cada usuario. Para lograr esto, necesitamos encontrar las coincidencias entre la tabla de actividad y la de tÃ­tulos.

Vamos entonces a unir las tablas netflix_titles y netflix_activity mediante las columnas show y show_id:

```
select nt.show_id, nt.title from netflix_titles nt
inner join netflix_activity na on nt.show_id = na.show
order by show_id;
```

Â¿QuÃ© significa que un mismo tÃ­tulo aparezca en varias filas?



```
Que el valor se repite varias veces en la tabla
```

## LEFT (OUTER) JOIN
Lo anterior, nos generÃ³ una tabla con los todos los tÃ­tulos vistos por los usuarios mÃ¡s la columna user_id, pero... Â¿QuiÃ©nes son esos usuarios? Â¡Nos encantarÃ­a conocer sus nombres! Afortunadamente tenemos una tabla `netflix_users` y tambiÃ©n tiene una columna `user_id` y otra columna `nombre` ðŸ¤“

Ahora, queremos aÃ±adir los nombres al resultado pero sin perder ninguna fila de la tabla del resultado anterior y descartando a los usuarios que no coincidan de la tabla de usuarios. Para realizar esto, nos sirve un `LEFT JOIN`.

```
SELECT netflix_titles.show_id, netflix_titles.title, netflix_activity.user_id
FROM netflix_titles
INNER JOIN netflix_activity ON netflix_titles.show_id=netflix_activity.show
ORDER BY show_id;
```

Nota que esta ver utilizamos USING dado que la columna en ambas tablas se llama igual.

### RIGHT (OUTER) JOIN
Veamos quÃ© pasa si la consulta anterior la hacemos con un RIGHT JOIN en lugar de un LEFT JOIN. Â¿Ves alguna diferencia en el resultado?

```
SELECT netflix_titles.show_id, netflix_titles.title, netflix_activity.user_id, netflix_users.nombre
FROM netflix_titles
INNER JOIN netflix_activity ON netflix_titles.show_id=netflix_activity.show
RIGHT JOIN netflix_users USING(user_id)
ORDER BY show_id;
```

Podremos ver mejor quÃ© pasa con el RIGHT JOIN si unimos `netflix_activity` con `netflix_users`

```
SELECT netflix_activity.show, netflix_titles.show_id, netflix_titles.title, COUNT(*)
FROM netflix_titles
RIGHT JOIN netflix_activity ON netflix_activity.show=netflix_titles.show_id
GROUP BY netflix_activity.show
ORDER BY netflix_activity.show;
```

Observa al columna `show`. PodrÃ¡s notar que algunos `show_id` faltan. Esto se debe a que hicimos el JOIN preservando las coincidencias de la tabla `netflix_activity` mÃ¡s sus propias filas. Esto deja fuera las filas de `netflix_titles` que no coincidieron en `show_id` con `netflix_activity`.

### FULL (OUTER) JOIN (CROSS JOIN)
Como mencionamos anteriormente, CROSS JOIN es la forma de FULL JOIN en MySQL. Probemos su funcionamiento uniendo las tablas netflix_activity y netflix_titles.

```
SELECT netflix_activity.show, netflix_activity.user_id, netflix_titles.show_id, netflix_titles.title
FROM netflix_titles
CROSS JOIN netflix_activity ON netflix_activity.show=netflix_titles.show_id
ORDER BY netflix_activity.show;
```

## Subconsultas

Las subconsultas son una prÃ¡ctica muy eficiente al momento de realizar consultas complejas sobre un subconjunto de datos.

- La siguiente subconsulta se ejecuta sobre la sentencia WHERE. Obtiene los show ID desde `netflix_activity` que correspondan Ãºnicamente a los primeros 4 ID (s1,s2,s3,s4). Sobre ese subconjunto rescatamos los tÃ­tulos en la consulta principal.

```
select na.show from netflix_activity na where na.show in ('s1','s2','s3','s4');

```

- En el caso anterior, utilizamos la sentencia `IN` para requerir el filtrado de una columna respecto de una lista de valores. Podemos hacer lo mismo pero a la inversa con `NOT IN`.

```
select na.show from netflix_activity na where na.show not in ('s1','s2','s3','s4');
```

Un uso muy prÃ¡ctico de las subconsultas es que podemos aplicar alguna funciÃ³n de agregaciÃ³n (como `COUNT`, `SUM`, `AVG`, etc.) al subconjunto de datos, luego, filtrar los resultados de la consulta principal.

- En la siguiente consulta, observa que la subconsulta estÃ¡ obteniendo Ãºnicamente los tÃ­tulos que fueron vistos mÃ¡s de 3 veces. Podemos utilizar `netflix_titles` para obtener los nombres de dichos tÃ­tulos, dado que `netflix_activity` no los tiene. 

```

```

select * from netflix_activity
select * from netflix_users
select * from netflix_titles

-- CuÃ¡les fueron las visualizaciones (shows) de los primeros 5 usuarios de netflix_users

select * from netflix_users limit 5

select * from netflix_activity order by show

-- Respuestas

select *  
FROM netflix_activity
WHERE user_id in (select user_id from netflix_users limit 5)
order by user_id


-- ejercicio 1

SELECT * 
FROM netflix_activity
WHERE show in (select show from netflix_activity where show in ('s1', 's2', 's3', 's4'))
order by show


select * from netflix_activity where show in ('s1', 's2', 's3', 's4')
order by show

-- ejercicio 2


SELECT * 
FROM netflix_activity
WHERE show not in (select show from netflix_activity where show in ('s1', 's2', 's3', 's4'))
order by show


--ejercicio 3

-- subconsulta
SELECT show as SH, COUNT (*) as vistas
		FROM netflix_activity
		group by show
		having vistas > 3

		
-- Solucion con Joins		
SELECT netflix_titles.title FROM (
		SELECT show as SH, COUNT (*) as vistas
		FROM netflix_activity
		group by show
		having vistas > 3 ) as tabla
INNER JOIN netflix_titles on netflix_titles.show_id = tabla.SH


-- Solucion con Subconsulta

SELECT title
FROM netflix_titles
where show_id in (
	SELECT SH FROM (
			SELECT show as SH, COUNT (*) as vistas
			FROM netflix_activity
			group by show
			having vistas > 3 ) as tabla
)