<a href="https://colab.research.google.com/github/salvananez/Data-Science/blob/main/Copy_of_Challenge_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

## Crea un array con numeros del 1 al 10

In [2]:
a = np.arange(10)

In [3]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# Resultado esperado
#> array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Crea un array de 3x3 donde todos su valores sean `True`

In [5]:
b = np.ones((3,3))
b

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [6]:
b == True

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [7]:
# Reultado esperado
#> array([[ True,  True,  True],
#>        [ True,  True,  True],
#>        [ True,  True,  True]])

## Extrae todos los numeros impares del siguiente array

In [8]:
arr = np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [9]:
arr[arr%2==1]

array([1, 3, 5, 7, 9])

In [10]:
# Resultado esperado:
#> array([1, 3, 5, 7, 9])

## Remplaza todos los numeros impares por  -1

In [11]:
arr = np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [12]:
arr[arr%2==1] = -1
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [13]:
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [14]:
# Resultado esperado:
#>  array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

## Convierte un array de 1D a uno de 2D de dos filas

In [15]:
arr = np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [16]:
arr.reshape((2,5))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [17]:
c = np.arange(10).reshape((2,5))
c

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [18]:
# Resultado esperado
#> array([[0, 1, 2, 3, 4],
#>        [5, 6, 7, 8, 9]])

## Extrae todos los numeros que se encuentren entre 5 y 10 del siguiente array

In [19]:
arr = np.array([2, 6, 1, 9, 10, 3, 27])
# 
# print(arr)
arr

array([ 2,  6,  1,  9, 10,  3, 27])

In [20]:
arr =   arr[(arr> 5)& (arr < 11)] 
arr

array([ 6,  9, 10])

In [21]:
# Resultado esperado
#> (array([6, 9, 10]),)

## Intercambia de posicion la primera y la segunda columna de la siguiente matriz

In [8]:
arr = np.arange(9).reshape(3,3)
print(arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [51]:
print('original array')
print(arr)
print("\n")
# print(arr[:,0])
print('swap columns')
arr[:, [0,1]] = arr[:,[1,0]]
print(arr)
print("\n")
arr

original array
[[0 1 2]
 [3 4 5]
 [6 7 8]]


swap columns
[[1 0 2]
 [4 3 5]
 [7 6 8]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [24]:
# Reultado esperado
#> array([[1, 0, 2],
#>        [4, 3, 5],
#>        [7, 6, 8]])

In [52]:
print('swap rows')
arr[[0,1],:] = arr[[1,0],:]
print(arr)

swap rows
[[4 3 5]
 [1 0 2]
 [7 6 8]]

In [2]:
my_array = np.arange(12).reshape(4, 3)
print("Original Array : ")
print(my_array)

Original Array :
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [16]:
def Swap(ara, start_index, last_index):
    ara[:, [start_index, last_index]] = ara[:, [last_index, start_index]]

Swap(arr,0,1)    
print(arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [17]:
Swap(my_array, 0, 1)
print(" After Swapping :")
print(my_array)

 After Swapping :
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

## Minimos cuadrados ordinarios

La siguiente es la formula para la regresion lineal de minimos cuadrados ordinarios

![image.png]()

En esa formula, las multiplicaciones son producto punto. (Recordando que el producto punto de dos matrices en numpy es `A.dot(B)` o `A @ B`)  
Las `T` en el superindice indican la transpuesta de la matriz  
Los `-1` en el superindice indican la inversa de una matriz.

La inversa de una matriz cuadrada `A` en numpy es `np.linalg.inv(A)`

Para los siguientes datos, calcula el estimador beta como se indica en la formula de minimos cuadrados ordinarios:

In [2]:
X = np.array([
  [5, 7, 8],
  [1, 1, 3],
  [5, 0, 7],
  [7, 3, 4],
  [6, 7, 7],
  [6, 7, 9],
  [6, 1, 4],
  [9, 0, 0],
  [0, 5, 9],
  [2, 8, 6]])
y = np.array([3.5, 3.1, -18.8, 9.5, 18.5, 6.8, 0., 7.6, -11.2, 13.3])

In [15]:
(np.linalg.inv(X.T@X))@(X.T@y)

array([ 1.22232275,  4.04574544, -3.26763476])

In [12]:
Z = np.linalg.inv(X.T@X)
W= X.T@y
print(Z)
print(W)
Z@W

[[ 0.00659865  0.00040812 -0.00420138]
 [ 0.00040812  0.01944695 -0.01382114]
 [-0.00420138 -0.01382114  0.01463803]]
[239.9 283.6 113.4]

array([ 1.22232275,  4.04574544, -3.26763476])

In [26]:
# Resultado esperado
#> array([ 1.22232275,  4.04574544, -3.26763476])

Los valores reales eran `np.array([1, 4, -3])`, Â¿es esta una buena estimacion?