<a href="https://colab.research.google.com/github/salvananez/Data-Science/blob/main/SQL_Challenge_1_(NETFLIX).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge: Analizando t√≠tulos de Netflix

¬°Felicidades! Despu√©s de un largo pero divertido proceso de reclutamiento, has sido contratado como Analytic Engineer Jr. en Netflix dentro del equipo remoto de Marketing Data Science ü§ì

Tus primeras tareas consisten en explorar la base de datos, obteniendo informaci√≥n relevante para plantearte preguntas m√°s complejas pr√≥ximamente.

En este ejercicio, te conectar√°s a una base de datos donde se alojan 100 t√≠tulos publicados en Netflix seleccionados aleatoriamente. ¬°Esa muestra deber√≠a bastar para demostrar tus habilidades! üòâ

## Preparaci√≥n de los datos

Antes de comenzar, jugar√°s a ser el ingeniero o ingeniera de datos que form√≥ la base de datos en primer lugar. Sigue estos pasos para crear una nueva base de datos e importar un CSV en una tabla nueva.

1. Con√©ctate a MySQL Server: abre MySQL Workbench y haz clic en la conexi√≥n a tu servidor local. Ingresa tu usuario y contrase√±a.

¬øA√∫n no tienes hecha tu conexi√≥n? Averigua c√≥mo hacerla [aqu√≠](https://dev.mysql.com/doc/workbench/en/wb-mysql-connections-new.html)

2. Una vez conectado, acceda al men√∫ de schemas del lado izquierdo:

![schema0](https://drive.google.com/uc?export=view&id=1U0f_wShC6QU4c2WDNE7Vt0Hv2cR4xNvY)

3. Una vez en la secci√≥n de Schemas, has clic en un espacio en blanco y selecciona 'Create Schema...'

![schema11](https://drive.google.com/uc?export=view&id=1FSuEnZ6SVq_jwEomds1xu13uqpdh2esE)

4. Del lado derecho ver√°s algo como lo siguiente. All√≠, deber√°s ingresar el nombre 'master' como el nombre de tu Schema.
![schema2](https://drive.google.com/uc?export=view&id=1xIF_pHC-W1miKwNt5ghT0IjKjRjvn9Lo)

5. Sigue los pasos de la ventana que aparecer√° hasta que veas la siguiente pantalla:
![schema31](https://drive.google.com/uc?export=view&id=1cUliC80ZhXONdfyB3hjSNGD9sOMXEJ2P)

6. Ver√°s un nuevo √≠cono en Schemas con el nombre de tu schema, haz clic derecho sobre √©l y selecciona "Table Data Import Wizard"
![schema32](https://drive.google.com/uc?export=view&id=1WEPKNEM2bLSfJPVJ_46Mwanr3ofwZXAa)

7. Ha llegado la hora de descargar el siguiente [archivo](https://drive.google.com/file/d/1QiyF1i0AlhbbijNh-7y9ecL07RYYE442/view?usp=sharing) en tu computadora. Una vez que lo hayas hecho, haz clic en "Browse" y selecci√≥nalo.
![schema4](https://drive.google.com/uc?export=view&id=1X1ph4L-nGlgCSdLp8bBJ2NJAO1q8uCip)

8. En esta pantalla solo haz clic en "Next"
![schema5](https://drive.google.com/uc?export=view&id=1udbztvBZEkgm53j1MHGk1wif_KOMKfMP)

9. En esta pantalla, verifica que la peque√±a muestra de la tabla se muestre correctamente y haz clic en "Next"
![schema6](https://drive.google.com/uc?export=view&id=1SzctA8uFEa4rG3gYdEJpxaCkNnJT-gCO)

10. Finalmente, clic en "Next" a esta pantalla y espera a que se importen los datos. Al terminar haz clic en "Finish".
![schema7](https://drive.google.com/uc?export=view&id=1rn_zBpQ5ILq13nCpe189JVvFdKbCnb4o)

11. Ahora, en el editor de scripts del lado derecho, escribe:

```
use master;
show tables;
```

Deber√≠as ver el siguiente resultado:

![schema8](https://drive.google.com/uc?export=view&id=1vmdH5OCVs-wcT-uueqL8zsZW8rcQKrFj)

## Ahora s√≠, a explorar esa base de datos ü§†

1. Selecciona las columnas type, title, director y country. Devu√©lvelas en una misma tabla.

Resultado esperado:

![challenge1](https://drive.google.com/uc?export=view&id=1-mhNvFneOskDLuWI4B5p5J5BNdRxljhs)

In [ ]:
SELECT type, title, director, country FROM netflix_titles ne;

2. En la columna 'type' parece haber dos categor√≠as 'Movies' y 'TV Shows'. ¬øCu√°ntos t√≠tulos tenemos de cada tipo?

Resultado esperado:

![challenge2](https://drive.google.com/uc?export=view&id=17_lLrzpsj0tc6Q7Bq6d5YEJ1s3cDdWti)

In [ ]:
SELECT TYPE, COUNT(*) FROM netflix_titles GROUP BY TYPE;

3. ¬øCu√°l es el pa√≠s con la pel√≠cula m√°s reciente en la base de datos (a√±o de lanzamiento m√°s reciente)?

Resultado esperado:

![challenge3](https://drive.google.com/uc?export=view&id=1J65HbGWJbesusiVmQJo-ehZYyJkj10UV)

In [ ]:
SELECT Country, max(release_year) from netflix_titles;

4. ¬øCu√°l es el t√≠tulo y el director de la pel√≠cula m√°s antigua en la base de datos?

Resultado esperado:

![challenge4](https://drive.google.com/uc?export=view&id=12LfnzSN84B9ldDcL4SHqWCnkyKEAomFs)

In [ ]:
select Country, director Director, min(release_year) 'Release year' from netflix_titles;

5. ¬øCu√°les series tiene solo 1 temporada (1 Season)? Queremos conocer solo el t√≠tulo, cast y rating.

Resultado esperado:

![challenge5](https://drive.google.com/uc?export=view&id=1t8h64I2v78yaq3MdhbzskpeSyjNmhTqd)

In [ ]:
select title, cast, rating from netflix_titles ne where ne.duration = 1 ;

6. Ha sido un d√≠a largo y queremos ver algo que nos haga re√≠r. ¬øAcaso habr√° alg√∫n t√≠tulo que solo est√© en la categor√≠a 'Comedies' y nada m√°s?

Resultado esperado:

![challenge6](https://drive.google.com/uc?export=view&id=1Wu6I2-YaeRdq09FssSmPkTgYibQIkM5c)

In [ ]:
select title, duration, description, country from netflix_titles ne where ne.listed_in  = 'Comedies';

7. Juguemos a ser un sistema de recomendaci√≥n: A nuestro usuario le encantan las pel√≠culas, pero solo las m√°s recientes. As√≠ que debes obtener el t√≠tulo, duraci√≥n, descripci√≥n y a√±o de lanzamiento, pero solo de las primeras 30 pel√≠culas m√°s recientes (debes ordenar de mayor a menor tus resultados).

Tip: Para obtener solo 30 resultados, puedes agregar `LIMIT 30` al final de tu consulta.

Resultado esperado:

![challenge7](https://drive.google.com/uc?export=view&id=1PAv20ZZSloqo9a3jhc6pmZZOOa7jXZHJ)

In [ ]:
select title, duration, description, release_year 'Release Year'  from netflix_titles ne where type = 'Movie' order by release_year desc limit 30;